CAT2/college.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT CHRIST (CS+)>
<!ELEMENT CS (STU-NAME, STU-BRANCH, STU-COLLEGE, STU-EMAIL, AddButton)>
<!ELEMENT STU-NAME (#PCDATA)>
<!ELEMENT STU-BRANCH (#PCDATA)>
<!ELEMENT STU-COLLEGE (#PCDATA)>
<!ELEMENT STU-EMAIL (#PCDATA)>
<!ELEMENT AddButton (#PCDATA)>

